@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: rgb(240, 248, 255);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navbar .flex-1 {
  margin-right: 1rem;
}

.navbar .form-control {
  flex: 1;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  width: 100%;
  height: 90%;
  overflow-y: auto;
}

.modal-box-calorie-calculator {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  max-width: 40%;
  max-height: 90%;
  width: 100%;
  height: 85%;
  overflow-y: auto;
}

.modal-box-BMI-calculator {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  max-width: 30%;
  max-height: 90%;
  width: 100%;
  height: 60%;
  overflow-y: auto;
}

.chat-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.chat-box {
  position: fixed;
  bottom: 90px;
  right: 35px;
  width: 400px;
  height: 640px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  overflow: auto;
}

.header-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  font-size: 1.5rem;
}

.input-field {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: white;
  }