@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navbar .flex-1 {
  margin-right: 1rem;
}

.navbar .form-control {
  flex: 1;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
}
